openapi: 3.0.3

info:
  title: Sport Groups API
  description: API documentation for BE Sport Group project.
  version: "0.1.0"

servers:
  - url: 'http://sg.yevhenii.live/api/v1'
  - url: 'http://localhost/api/v1'

tags:
  - name: Auth
    description: Authorization
  - name: Group
  #    description: Groups endpoints
  - name: User
#    description: User endpoints

security:
  - bearerAuth: [ ]

paths:
  /auth/oauth2callback:
    get:
      summary: Multifunctional endpoint for OAuth2
      description: Request with no parameters leading to the Google's consent screen. Then, when `code` param is passed, access/refresh tokens will be returned.
      tags:
        - Auth
      parameters:
        - name: code
          description: "Code is a OAuth2 Grant Code, that should be passed to that endpoint after redirect from Consent Screen back to App"
          required: false
          in: query
      responses:
        '303':
          description: "Redirects to Google OAuth 2 "
        '200':
          description: "Returns access and refresh tokens"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthToken'

  /auth/login:
    post:
      summary: Log in
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successfully created group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthToken'

  /auth/register:
    post:
      summary: Register user
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Successfully created group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthToken'

  /auth/refresh-token:
    post:
      summary: Refresh token
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Successfully refreshed token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthToken'

  /me:
    get:
      summary: Get current user
      tags:
        - User
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    patch:
      summary: Update current user
      tags:
        - User
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Successfully updated user

  /groups:
    get:
      summary: Get all groups
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: An array of groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsResponse'
    post:
      summary: Create a new group
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequest'
      responses:
        '201':
          description: Successfully created group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'

  /groups/{group_id}:
    get:
      summary: Get a single group by ID
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A single group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
    patch:
      summary: Update a group by ID
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRequest'
      responses:
        '200':
          description: Successfully updated group
    delete:
      summary: Delete a group by ID
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Successfully deleted group

  /groups/{group_id}/members:
    get:
      summary: Get all members of a group
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: An array of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /groups/join:
    post:
      summary: Join a group using a code
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupJoinRequest'
      responses:
        '200':
          description: Successfully joined group

  /groups/{group_id}/events:
    get:
      summary: Get group events for the user
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: An array of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
    post:
      summary: Create a new event
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '201':
          description: Successfully created event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'

  /groups/{group_id}/events/{event_id}:
    get:
      summary: Get a single event by ID
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A single event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
    patch:
      summary: Update an event by ID
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '200':
          description: Successfully updated event
    delete:
      summary: Delete an event by ID
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Successfully deleted event

  /groups/{group_id}/records:
    get:
      summary: Get group records for the user
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupRecord'

  /groups/{group_id}/events/{event_id}/records/{record_id}:
    post:
      summary: Answer event's record
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: record_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordValue'
      responses:
        '200':
          description: An array of records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'

  /groups/{group_id}/events/{event_id}/comments:
    get:
      summary: Get event comments
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: An array of comments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventComment'
    post:
      summary: Create a new comment
      tags:
        - Group
      security:
        - bearerAuth: [ ]
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      responses:
        '201':
          description: Successfully created comment

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Group:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        sport:
          type: string
        code:
          type: string
        createdAt:
          type: string
          format: date-time
        editedAt:
          type: string
          format: date-time

    GroupsResponse:
      type: array
      items:
        $ref: '#/components/schemas/Group'

    GroupRequest:
      type: object
      properties:
        name:
          type: string
        sport:
          type: string

    GroupJoinRequest:
      type: object
      properties:
        code:
          type: string

    UpdateGroupRequest:
      type: object
      properties:
        name:
          type: string
        sport:
          type: string

    UpdateUserRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        avatarUrl:
          type: string
        phone:
          type: string
        dateOfBirth:
          type: string
          format: date

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        pictureURL:
          type: string
        phone:
          type: string
        dateOfBirth:
          type: string
          format: date
        sex:
          $ref: '#/components/schemas/Sex'
        address:
          type: string

    Sex:
      type: string
      enum:
        - MALE
        - FEMALE

    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        groupId:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        location:
          type: string
        startAt:
          type: string
          format: date-time
        endAT:
          type: string
          format: date-time
        records:
          type: array
          items:
            $ref: '#/components/schemas/Record'

    Record:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        type:
          $ref: '#/components/schemas/RecordType'
        readAccessScopes:
          type: array
          items:
            $ref: '#/components/schemas/AccessScope'
        writeAccessScopes:
          type: array
          items:
            $ref: '#/components/schemas/AccessScope'
        value:
          type: object

    GroupRecord:
      type: object
      properties:
        title:
          type: string
        type:
          $ref: '#/components/schemas/RecordType'
        readAccessScopes:
          type: array
          items:
            $ref: '#/components/schemas/AccessScope'
        writeAccessScopes:
          type: array
          items:
            $ref: '#/components/schemas/AccessScope'

    CreateEventRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        location:
          type: string
        startAt:
          type: string
          format: date-time
        endAT:
          type: string
          format: date-time
        assignType:
          $ref: '#/components/schemas/AssignType'
        assignedUserIDs:
          type: array
          items:
            type: string
            format: uuid
        records:
          type: array
          items:
            $ref: '#/components/schemas/CreateRecordRequest'

    CreateRecordRequest:
      type: object
      properties:
        title:
          type: string
        type:
          $ref: '#/components/schemas/RecordType'
        readAccessScopes:
          type: array
          items:
            $ref: '#/components/schemas/AccessScope'
        writeAccessScopes:
          type: array
          items:
            $ref: '#/components/schemas/AccessScope'

    AssignType:
      type: string
      enum:
        - all
        - selected

    AccessScope:
      type: string
      enum:
        - coach
        - student

    RecordType:
      type: string
      enum:
        - checkbox
        - rating
        - text
        - number
        - photo
        - video
        - file

    RecordValue:
      type: object

    EventComment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user:
          $ref: '#/components/schemas/User'
        text:
          type: string
        createdAt:
          type: string
          format: date-time

    CreateCommentRequest:
      type: object
      properties:
        text:
          type: string

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
        password:
          type: string

    RegisterRequest:
      type: object
      required:
        - email
        - password
        - firstName
        - lastName
      properties:
        email:
          type: string
        password:
          type: string
        firstName:
          type: string
        lastName:
          type: string

    RefreshTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string

    OauthToken:
      type: object
      properties:
        accessToken:
          type: string
        tokenType:
          type: string
        expiry:
          type: integer
        refreshToken:
          type: string
